button:focus {
  outline: none;
  box-shadow: unset;
}

.btn-custom {
  background-color: red;
  color: white;
  padding: 8px 20px;
  border-radius: 0px !important;
}

.common_section {
  border-top: 7px solid rgb(37, 37, 37);
  /* border-bottom: 5px solid grey; */
  background-color: black;
  /* padding: 50px 0px; */
  padding-bottom: 40px;
}

.common_section_content_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.common_section_content_col {
  padding: 0px 70px;
}

.common_section_title {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.common_section_text {
  color: white;
  font-weight: normal;
}

.common_section_img {
  height: 350px;
}

.footer-link {
  color: #737373;
  font-size: 13px;
}

.footer_list li {
  line-height: 26px;
}
